@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Open+Sans&family=Roboto+Condensed:ital@1&display=swap');


.font-openSans{
    font-family: 'Open Sans', sans-serif;
}

.customfont{
    font-family: 'Croissant One', cursive;
    font-size: 50px;
}

.menufont{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    font-weight: 600;
}

.nav-link a:hover{
    color: grey;
    transition: 0.2s;
}


.nav-link a{
    border-radius: 10px;
    padding: 5px;
}


.bg-img{
    background-image: url('./assets/home/hero-banner.jpg');
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.lds-dual-ring {
    display: inline-block;
    width: 30px;
    height: 30px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  